html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,p{ margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

*{
    color: #292929;
}

/*Layout*/

.logo{
    position: fixed;
    float: left;
    height: 30px;
    margin-top: 25px;
    margin-left: 30px;
}

.menu-icon{
    position: fixed;
    width: 30px;
    top:22px;
    right: 30px;
}

.menu-icon div{
    background-color: #292929;
    height: 2px;
    width: 25px;
    margin-top: 5px;
}

.menu{ 
    position: fixed;
    right: 85px;
    top: 23px;
    letter-spacing: 0.5px;
}

.menu li{
    display: none;
    margin-right: -200px;
    line-height: 25px;
    font-family: 'raleway', sans-serif;
    font-size: 10px;
    padding: 0 10px 0 10px;
    list-style: none;
}

.menu li a{
    font-weight: 300;
    text-decoration: none;
}

.menu li.now{
    font-weight: 600;
}

.allworks{
    position: absolute;
    z-index: -2;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    border-top: 85px solid white;
    border-left: 140px solid white;
    border-right: 80px solid white;
    width: 100vw;
    overflow: hidden;
}

.left-nav{
    position: fixed;
    z-index: 999;
    list-style: none;
    margin-top: 20px;
    float: left;
    display: block;
    font-family: 'raleway', sans-serif;
    line-height: 30px;
    font-weight: 400; 
    font-size: 14px;
}

.worklist{
    margin-left: 10%;
    list-style: none;
    width: 90%;
    display: flex;
    flex-flow: wrap;
}

.worklist li{
    margin-left: 20px;
    width: 280px; 
    margin-bottom: 30px;
}

.worklist li img{
    width: 280px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.worklist li img:hover{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: all 0.3s ease-in-out;
}

.worklist li h4{
    font-family: 'raleway', sans-serif;
    font-weight: 700;
    font-size: 9px;
    margin-top: 10px;
    font-size: 9px;
    line-height: 14px;
}

.worklist li p{
    font-family: 'raleway', sans-serif;
    font-weight: 600;
    margin-top: 10px;
    line-height: 14px;
    font-size: 9px;
    opacity: 0.7;
}

/* worklist 2 */

.worklist2{
    margin-left: 10%;
    list-style: none;
    width: 90%;
    display: flex;
    flex-flow: wrap;
}

.worklist2 li{
    margin-left: 20px;
    width: 280px; 
    margin-bottom: 30px;
}

.worklist2 li img{
    width: 280px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.worklist2 li img:hover{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: all 0.3s ease-in-out;
}

.worklist2 li h4{
    font-family: 'raleway', sans-serif;
    font-weight: 700;
    font-size: 9px;
    margin-top: 10px;
    font-size: 9px;
    line-height: 14px;
}

.worklist2 li p{
    font-family: 'raleway', sans-serif;
    font-weight: 600;
    margin-top: 10px;
    line-height: 14px;
    font-size: 9px;
    opacity: 0.7;
}

/* worklist 2 end */

.tag{
    margin-top: 8px;
    opacity: 0.4;
}

.tag p{
    display: inline;
    margin-right: 8px;
    font-weight: 400;
}

.active{
    font-family: 'Radley',serif;
    font-size: 72px;
    line-height: 100px;
    transition-duration: .03s;
}

.section-line{
    background-color: lightgray;
    height: 1px;
    width: 68%;
    margin-left: 12%;
    margin-top: 100px;
    margin-bottom: 80px;
}

/*Animations*/

a{
    text-decoration: none;
}

/*设置a的定位，下划线定位参考*/
.left-to-right{
    position:relative;
}
/*使用伪类给a下面添加下划线*/
/*css3为了区别伪类选择器把::改为:,使用:也会自动转为::*/
.left-to-right::after{
    content:'';
    display:block;
/*开始时候下划线的宽度为0*/
    width:0;
    height: 1px;
    position:absolute;
    left:0;
    bottom:3px;
    background: #4f4f4f;
/*设定所有改变都有动画效果*/
    transition:all 0.3s ease-in-out;
}
.left-to-right:hover::after{
    width:100%;
}
