html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,p{ margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }


/*General */

*{
    color: #292929;
}

/* L A Y O U T */

/* Header */ 

header{
    height: 37vh;
    border: 0px 0px 0px 0px;
    border-color: white;
}

.logo{
    float: left;
    height: 30px;
    margin-top: 25px;
    margin-left: 30px;
}

.back{
    float: left;
    margin-top: 32px;
    margin-left: 20px;
    font-family: 'raleway', sans-serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.menu-icon{
    width: 30px;
    float: right;
    margin-top:22px;
    margin-right: 30px;
}

.menu-icon div{
    background-color: #292929;
    height: 2px;
    width: 25px;
    margin-top: 5px;
}

.menu{ 
    position: absolute;
    right: 85px;
    top: 23px;
    letter-spacing: .5px;
}

.menu li{
    display: none;
    margin-right: -200px;
    line-height: 25px;
    font-family: 'raleway', sans-serif;
    font-size: 10px;
    padding: 0 10px 0 10px;
    list-style: none;
}

.menu li a{
    font-weight: 300;
}

.menu li.now{
    font-weight: 600;
}

.title{
    padding-left: 1.5vw;
    font-size: 15vh;
    letter-spacing: 3vw;
    padding-top: 16vh;
    text-align: center;
}

.cover{
    margin-top: -15vh;
    margin-left: 32.5vw;
    width: 35vw;
}

/*video*/

iframe{
    margin-top: -5vw;
    margin-left: 15vw;
    width: 70vw;
}

/* Discription */

.discription{
    padding-top: 260px;
    margin-left: 15vw;
    width: 75vw;
}

.discription-column{
    float:left; 
    width: 25vw;
    padding-right: 5vw;
    box-sizing: border-box;
}

.discription-column p{
    margin-top: 25px;
    letter-spacing: 0.3px
}

/* slideshow */

.slideshow{
    position: absolute;
    margin-top: 200px;
}

.draftshow{
    width: 100%;
    max-height: 500px;
    overflow: hidden;
}

.arrow-left{
    position: absolute;
    left: 70px;
    bottom: 40%;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    border-width: 3px;
    border-style: solid;
    border-color: #292929;
    opacity: 0.4;
}

.arrow-left div{
    margin-left: 28px;
    margin-top: 23px;
    box-sizing: border-box;
    border: 3px solid transparent;
    width: 30px;
    height: 30px;
    border-top-color: #292929;
    border-left-color: #292929;
    transform: rotate(-45deg);
}

.arrow-right{
    position: absolute;
    right: 80px;
    bottom: 40%;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    border-width: 3px;
    border-style: solid;
    border-color: #292929;
    opacity: 0.4;
}

.arrow-right div{
    margin-left: 18px;
    margin-top: 24px;
    box-sizing: border-box;
    border: 3px solid transparent;
    width: 30px;
    height: 30px;
    border-bottom-color: #292929;
    border-right-color: #292929;
    transform: rotate(-45deg);
}

.arrow-right:hover{
    opacity: 1;
}

.arrow-left:hover{
    opacity: 1;
}

.dots{
    position: absolute;
    bottom: 8%;
    left: 50%;
}

.dot {
    opacity: 0.3;
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #292929;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .2;}
    to {opacity: 1;}
}

@keyframes fade {
    from {opacity: .2;}
    to {opacity: 1;}
}

.active, .dot:hover{
    opacity: 1;
}

/* Showcase */

.showcase{
    position: relative;
    margin-top: 800px;
}

.showcase img{
    margin-bottom: 50px;
    margin-left: 12.5vw;
    width: 75vw;
}

/*Footer*/

footer{
    box-sizing: border-box;
    width: 100%;
    height: 650px;
    background-color: #F7F7F7;
}

.footnav{
    width: 100%;
    height: 170px;
}

.previous{
    float: left;
    margin-left: 5vw;
    text-align: left;
}

.next{
    float: right;
    margin-right: 5vw;
    text-align: right;
}

.footnav h4{
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

.section-line{
    background-color: lightgray;
    height: 1px;
    width: 100%;
    margin-top: 50px;
}

.random{
    width: 75vw;
    margin-left: 12.5vw;
    margin-top: 50px;
}

.random-project{
    width:  13vw;
    float: left;
    margin-left: 1vw;
    margin-right: 1vw;
}

.random-project img{
    width: 13vw;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.random-project img:hover{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: all 0.3s ease-in-out;
}

.random-project p{
    margin-top: 10px;
    margin-left: 8px;
    float: right;
}

.copyright{
    position: absolute;
    margin-top: 325px;
    line-height: 50px;
    width: 100%;
    text-align: center;
}

/* Link */

a{
    font-style: none;
    text-decoration: none;
    color: inherit;
}

/* Typography */ 

h1{
    color: white;
    text-transform: uppercase;
    font-family: 'raleway', sans-serif;
    font-weight: 800;
    text-align: center;
}

h2{
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 5px;
    font-family: 'raleway', sans-serif;
}

h3{
    font-family: 'raleway', sans-serif;
    color: lightgray;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 800;
    opacity: 0.6;
    letter-spacing: 0.5vw;
    line-height: 110px;
}

h4{
    text-transform: uppercase;
    font-family: 'raleway', sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 5px;
}

p{
    color: #868686;
    line-height: 22px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'raleway', sans-serif;
}

li{
    list-style: none;
}

li h4{
    margin-top: 10px;
    font-size: 9px;
    line-height: 14px;
    float: left;
}

li p{
    line-height: 14px;
    font-size: 9px;
    opacity: 0.7;
}

/* A N I M A T I O N */

/*link animation*/
.left-to-right{
    position:relative;
}
/*使用伪类给a下面添加下划线*/
/*css3为了区别伪类选择器把::改为:,使用:也会自动转为::*/
.left-to-right::after{
    content:'';
    display:block;
/*开始时候下划线的宽度为0*/
    width:0;
    height: 1px;
    position:absolute;
    left:0;
    bottom:-5px;
    background: #4f4f4f;
/*设定所有改变都有动画效果*/
    transition:all 0.3s ease-in-out;
}
.left-to-right:hover::after{
    width:100%;
}

/*Footnav animation*/
.previous div{
    position: absolute;
    left: 5vw;
    height: 3px;
    width: 0px;
}

.next div{
    position: absolute;
    right: 5vw;
    height: 3px;
    width: 0px;
}