html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,p{ margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

/*Layout*/

.logo{
    float: left;
    height: 30px;
    margin-top: 25px;
    margin-left: 30px;
}

.name{
    position: absolute;
    bottom: 115px;
    left: -20px;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -0-transform: rotate(-90deg);
    
}

.menu-icon{
    width: 30px;
    float: right;
    margin-top:22px;
    margin-right: 30px;
}

.menu-icon div{
    background-color: #292929;
    height: 2px;
    width: 25px;
    margin-top: 5px;
}

.menu{ 
    position: absolute;
    right: 85px;
    top: 23px;
    letter-spacing: 0.5px;
}

.menu li{
    display: none;
    margin-right: -200px;
    line-height: 25px;
    font-family: 'raleway', sans-serif;
    font-size: 13px;
    padding: 0 10px 0 10px;
    list-style: none;
}

.menu li a{
    font-weight: 400;
}

.menu li.now{
    font-weight: 700;
}

.split-slideshow{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -999;
}

.slideshow{
    position: absolute;
    z-index: -2;
    -moz-z-index: -2;
    -webkit-z-index: -2;
    -o-z-index: -2;
    -ms-z-index: -2;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    border-top: 85px solid white;
    border-left: 140px solid white;
    border-right: 80px solid white;
    border-bottom: 95px solid white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.project{
    position:relative;
    z-index: -1;
    -moz-z-index: -1;
    -webkit-z-index: -1;
    -o-z-index: -1;
    -ms-z-index: -1;
}

.homeimg{
    position: absolute;
    z-index: 999;
    -moz-z-index: 999;
    -webkit-z-index: 999;
    -o-z-index: 999;
    -ms-z-index: 999;
    right: 50%;
    top: 50%;
    margin-right: -18%;
    margin-top: -15%;
    width: 40%;;
}

.slideshow-text{
    margin-top: 100px;
    width: 200px;
    transform: (-50%, -50%);
}

.filters{
    width: 100px;
    margin-bottom: 10px;
    margin-left: 107px;
}

.projectname{
    position: absolute;
    text-align: center;
    top: 49%;
    right: -105px;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -0-transform: rotate(90deg);
}

.text{
    position: relative;
    z-index: 99;
    -moz-z-index: 99;
    -webkit-z-index: 99;
    -o-z-index: 99;
    -ms-z-index: 99;
    line-height: 100vh;
    margin-top:-85px;
}

.catalog{
    position: absolute;
    bottom: 55px;
    width: 100vw;
    border-left: 135px solid transparent;
    border-right: 75px solid transparent;
    box-sizing: border-box;
}

.catalog li{
    color: white;
    font-family: 'raleway', sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 20px;
    background-color: #292929;
    border-right: 5px solid white;
    border-left: 5px solid white;
    text-align: center;
    list-style: none;
    box-sizing: border-box;
    width: 20%;
    float: left;
}

.catalog .catalog-element1, .catalog .catalog-element2, .catalog .catalog-element3, .catalog .catalog-element4{
    line-height: 5px;
    color: transparent;
    opacity: .07;
}

.catalog-click::before{
    position: relative;
    bottom: 23px;
    right: -25px;
    content: "";
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #292929 transparent;
}

.catalog-click2::before{
    position: relative;
    bottom: 23px;
    right: -28px;
    content: "";
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #292929 transparent;
}

.catalog-click3::before{
    position: relative;
    bottom: 23px;
    right: -25px;
    content: "";
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #292929 transparent;
}

.catalog-click4::before{
    position: relative;
    bottom: 23px;
    right: -22px;
    content: "";
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #292929 transparent;
}


.catalog-click5::before{
    position: relative;
    bottom: 23px;
    right: -22px;
    content: "";
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #292929 transparent;
}

.arrow-left{
    position: absolute;
    left: 160px;
    bottom: 120px;
    box-sizing: border-box;
    width: 0;
    height: 0;
    border-width: 15px;
    border-style: solid;
    border-color: transparent  #292929 transparent transparent;
}

.arrow-right{
    position: absolute;
    right: 100px;
    bottom: 120px;
    box-sizing: border-box;
    width: 0;
    height: 0;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent transparent #292929;
}

.arrow-left:hover{
    left: 150px;
    
    transform: scale(1.5);
    transition-duration: .2s;
}

.arrow-right:hover{
    right: 90px;
    transform: scale(1.5);
    transition-duration: .2s;
}

.dots{
    position: absolute;
    bottom: 115px;
    left: 50%;
}

.dot {
    opacity: 0.3;
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #292929;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/*Animations*/

/*设置a的定位，下划线定位参考*/
.left-to-right{
    position:relative;
}
/*使用伪类给a下面添加下划线*/
/*css3为了区别伪类选择器把::改为:,使用:也会自动转为::*/
.left-to-right::after{
    content:'';
    display:block;
/*开始时候下划线的宽度为0*/
    width:0;
    height: 1px;
    position:absolute;
    left:0;
    bottom:-5px;
    background: #4f4f4f;
/*设定所有改变都有动画效果*/
    transition:all 0.3s ease-in-out;
}
.left-to-right:hover::after{
    width:100%;
}


.text:hover{
    transition: text-shadow .3s ease;
    text-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .2;}
    to {opacity: 1;}
}

@keyframes fade {
    from {opacity: .2;}
    to {opacity: 1;}
}

.active, .dot:hover{
    opacity: 1;
}

/*outfit*/

a{
    font-style: none;
    text-decoration: none;
    color: inherit;
}

/*Typograohy*/

*{
    color: #292929;
}

h1{
    color: white;
    text-transform: uppercase;
    font-family: 'raleway', sans-serif;
    font-weight: 800;
    font-size: 144px;
    letter-spacing: 30px;
    text-align: center;
}

h2{
    font-family: 'Radley', serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 65px;
    margin-top: 40px;
    margin-left: 107px;
    margin-bottom: 45px;
    width: 90px;
}

h5{
    font-family: 'raleway', sans-serif;
    font-weight: 300;
    font-size: 13px;
}

h6{
    text-transform: uppercase;
    font-family: 'raleway', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 10px;
}